<!DOCTYPE html>
<html>
  <head>
      <title>Nginx control web interface</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script>
        function sendStart() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/start', true);
            xhr.send();
            location.reload();
        }
        function sendRestart() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/restart', true);
            xhr.send();
            location.reload();
        }
        function sendStop() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/stop', true);
            xhr.send();
            location.reload();
        }
        function keyBlock() {
            console.log('надо блокировать/деблокировать кнопки');
            var flag = document.getElementById('keysBlock').checked; 
            if (flag === true){
                document.getElementById('start').disabled=false;
                document.getElementById('restart').disabled=false;
                document.getElementById('stop').disabled=false;
            } else {
                document.getElementById('start').disabled=true;
                document.getElementById('restart').disabled=true;
                document.getElementById('stop').disabled=true;
            }
            //Посылаем запрос на сервер с целью узнать состояние флага
            var xhr = new XMLHttpRequest();
            var body = 'flag=' + encodeURIComponent(flag);
            xhr.open('POST', '/fState', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(body);
        }
      </script>
  </head>
  <body>
      <h1>NGINX control web interface</h1>
      <table border=1px id='ServiceState'>
          <tr>
              <td><p1>NGINX</p1></td>
              {% if processList %}
                  <td bgcolor="green">
                    Сервис работает                                              
                  </td>
              {% else %}
                  <td bgcolor="red">
                    Сервис остановлен                                              
                  </td>
              {% endif %}
              <td>
                  <form action="">
                      {% if fstate %}
                        <button type='button' id='start' onclick='sendStart()'>Запустить</button>
                        <button type='button' id='restart' onclick='sendRestart()'>Перезапустить</button>
                        <button type='button' id='stop' onclick='sendStop()'>Остановить</button>
                        <input type='checkbox' id='keysBlock' name='Включить сервис' onchange='keyBlock()' checked>
                      {% else %}
                        <button type='button' id='start' onclick='sendStart()' disabled>Запустить</button>
                        <button type='button' id='restart' onclick='sendRestart()' disabled>Перезапустить</button>
                        <button type='button' id='stop' onclick='sendStop()' disabled>Остановить</button>
                        <input type='checkbox' id='keysBlock' name='Включить сервис' onchange='keyBlock()'>
                      {% endif %}
                  </form>
              </td>
          </tr>
    </table>        
  </body>
</html>

