<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
	<!---<table border=1px id='ServiceState'>
		<tr>
			<td>Имя процесса</td>
			<td>Состояние процесса</td>
			<td>Управление процесcом</td>
		</tr>
	</table>--->
	{% for item in seq %}
	    {{ item }}
	{% endfor %}
	{% for proc in processList %}
		<li>{{ processList['proc'].pid }}</li>
	{% endfor %}
  </body>
</html>

